<div class="row">
    <div class="small-12 columns">
        <label class="is-invalid-label">
            Name
            <!-- Add "is-invalid-input" -->
            <input type="text" class="is-invalid-input" required aria-invalid aria-describedby="uuid">
            <!-- Add "is-visible" -->
            <span class="form-error is-visible" id="uuid">This field is required.</span>
        </label>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
    
    
        <form novalidate name="nformfield.form">
            
<n-form-field is-error="(nformfield.form.foo.$invalid && !nformfield.form.foo.$error.asyncEmail) || false"
              is-warning="(nformfield.form.foo.$invalid && nformfield.form.foo.$error.nStackEmail && !nformfield.form.foo.$pending) || false"
              is-success="(nformfield.form.foo.$valid && !nformfield.form.foo.$pending) || false"
              is-loading="nformfield.form.foo.$pending">
    <label for="foo">
        Label Text
        <input name="foo"
               id="foo"
               type="email"
               n-email-nstack-validator
               n-email
               ng-model="nformfield.fooModel"
               required
               minlength="3"
               maxlength="15">
        <span class="form-error"
              ng-messages="nformfield.form.foo.$error"
              ng-messages-multiple
              role="alert">
            <span ng-message="required">required</span>
            <span ng-message="minlength">minlength</span>
            <span ng-message="maxlength">maxlength</span>
            <span ng-message="email">email</span>
        </span>
        <span class="form-success">This is a success message</span>
        <span class="form-warning">{{nformfield.form.foo.nStackEmailMessage}}</span>
        <span class="form-loading">Please wait...</span>
    </label>
</n-form-field>

            <n-form-field>
                <label for="bar">
                    Label Text
                    <input name="bar"
                           id="bar"
                           type="email"
                           n-email-nstack-validator
                           n-email
                           ng-model="nformfield.barModel">

                    <span class="form-error"
                          ng-messages="nformfield.form.bar.$error"
                          ng-messages-multiple
                          role="alert">
                    
                        <span ng-message="required">required</span>
                        <span ng-message="minlength">minlength</span>
                        <span ng-message="maxlength">maxlength</span>
                        <span ng-message="email">email</span>
                        
                    </span>

                    <span class="form-success">
                        This is a success message
                    </span>

                    <span class="form-warning">
                        <span>{{nformfield.form.bar.nStackEmailMessage}}</span>
                    </span>

                    <span class="form-loading">
                        Please wait...
                    </span>

                </label>

            </n-form-field>
            
        </form>
        
        
    </div>
</div>
<pre>
1 {{nformfield.form.foo | json}}
2 {{nformfield.form.foo.$pending | json}}
</pre>