<div class="row">
    <div class="small-12 columns">
        <h3>Modal</h3>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        
            <button type="button" class="button" ng-click="modalCtrl.open()">Open me!</button>
            <button type="button" class="button" ng-click="modalCtrl.open('tiny')">Tiny modal</button>
            <button type="button" class="button" ng-click="modalCtrl.open('small')">Small modal</button>
            <button type="button" class="button" ng-click="modalCtrl.open('large')">Large modal</button>
            <button type="button" class="button" ng-click="modalCtrl.open('full')">Full modal</button>
            <button type="button"
                    class="button"
                    ng-click="modalCtrl.open('tiny', '.modal-parent')">
                Modal appended to a custom parent
            </button>
        
    </div>
    <div class="small-12 columns">
        
            <button type="button" class="button" ng-click="modalCtrl.toggleAnimation()">Toggle Animation ({{ modalCtrl.animationsEnabled }})</button>
            <button type="button" class="button" ng-click="modalCtrl.openComponentModal()">Open a component modal!</button>
            <button type="button" class="button" ng-click="modalCtrl.openMultipleModals()">
                Open multiple modals at once
            </button>
        
    </div>
    <div class="small-12 columns">
        <button type="button" class="button" ng-click="modalCtrl.openLongModal()">Modal with a truckload of content...</button>
    </div>
    <div class="small-12 columns">
        <div ng-show="modalCtrl.selected">Selection from a modal: {{ modalCtrl.selected }}</div>
    </div>
</div>

<div class="modal-parent">
</div>



<script type="text/ng-template" id="myModalContent.html">
    <button class="close-button" ng-click="vm.cancel()" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    
    <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
    
    <ul>
        <li ng-repeat="item in vm.items">
            <a href="#" ng-click="$event.preventDefault(); vm.selected.item = item">{{ item }}</a>
        </li>
    </ul>
    Selected: <b>{{ vm.selected.item }}</b>
    
    <button class="button" type="button" ng-click="vm.ok()">OK</button>
    <button class="button secondary" type="button" ng-click="vm.cancel()">Cancel</button>
</script>

<script type="text/ng-template" id="stackedModal.html">
    <button class="close-button" ng-click="vm.cancel()" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    
    <h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3>
    
    <p id="modal-body-{{name}}">
        Having multiple modals open at once is probably bad UX but it's technically possible.
    </p>
</script>

<script type="text/ng-template" id="truckloadModal.html">
    <button class="close-button" ng-click="vm.cancel()" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    
    <h3 class="modal-title">The Story of Moby Dick</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nesciunt omnis porro recusandae repellat repudiandae sit. Adipisci aliquid beatae cum dicta dolores et ex exercitationem iste, labore laudantium molestiae nemo officia praesentium quae quibusdam quidem quo, recusandae sit tempora unde. Aliquam aperiam fugit ipsam labore libero nostrum, officiis omnis quasi repellendus vel. Asperiores atque cupiditate eaque earum porro quas quisquam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nesciunt omnis porro recusandae repellat repudiandae sit. Adipisci aliquid beatae cum dicta dolores et ex exercitationem iste, labore laudantium molestiae nemo officia praesentium quae quibusdam quidem quo, recusandae sit tempora unde. Aliquam aperiam fugit ipsam labore libero nostrum, officiis omnis quasi repellendus vel. Asperiores atque cupiditate eaque earum porro quas quisquam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nesciunt omnis porro recusandae repellat repudiandae sit. Adipisci aliquid beatae cum dicta dolores et ex exercitationem iste, labore laudantium molestiae nemo officia praesentium quae quibusdam quidem quo, recusandae sit tempora unde. Aliquam aperiam fugit ipsam labore libero nostrum, officiis omnis quasi repellendus vel. Asperiores atque cupiditate eaque earum porro quas quisquam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nesciunt omnis porro recusandae repellat repudiandae sit. Adipisci aliquid beatae cum dicta dolores et ex exercitationem iste, labore laudantium molestiae nemo officia praesentium quae quibusdam quidem quo, recusandae sit tempora unde. Aliquam aperiam fugit ipsam labore libero nostrum, officiis omnis quasi repellendus vel. Asperiores atque cupiditate eaque earum porro quas quisquam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nesciunt omnis porro recusandae repellat repudiandae sit. Adipisci aliquid beatae cum dicta dolores et ex exercitationem iste, labore laudantium molestiae nemo officia praesentium quae quibusdam quidem quo, recusandae sit tempora unde. Aliquam aperiam fugit ipsam labore libero nostrum, officiis omnis quasi repellendus vel. Asperiores atque cupiditate eaque earum porro quas quisquam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nesciunt omnis porro recusandae repellat repudiandae sit. Adipisci aliquid beatae cum dicta dolores et ex exercitationem iste, labore laudantium molestiae nemo officia praesentium quae quibusdam quidem quo, recusandae sit tempora unde. Aliquam aperiam fugit ipsam labore libero nostrum, officiis omnis quasi repellendus vel. Asperiores atque cupiditate eaque earum porro quas quisquam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus nesciunt omnis porro recusandae repellat repudiandae sit. Adipisci aliquid beatae cum dicta dolores et ex exercitationem iste, labore laudantium molestiae nemo officia praesentium quae quibusdam quidem quo, recusandae sit tempora unde. Aliquam aperiam fugit ipsam labore libero nostrum, officiis omnis quasi repellendus vel. Asperiores atque cupiditate eaque earum porro quas quisquam!</p>
</script>