<h1>Pagination</h1>
<h6><code>boundary-link-numbers</code> set to <code>true</code> and <code>rotate</code> defaulted to <code>true</code>:</h6>
<ul uib-pagination
    total-items="index.paginationTotal"
    ng-model="index.paginationCurrent"
    max-size="index.paginationMaxSize"
    class="pagination"
    boundary-links="true"
    num-pages="index.numPages"
    boundary-link-numbers="true"></ul>
<pre>Page: {{index.paginationCurrent}} / {{index.numPages}}</pre>
<hr>
<br>
<hr>
<h1>Pager</h1>
<pre>You are currently on page {{index.pagerCurrent}}</pre>
<ul uib-pager total-items="index.pagerTotal" ng-model="index.pagerCurrent"></ul>
<ul class="text-center" uib-pager align="false" total-items="index.pagerTotal" ng-model="index.pagerCurrent"></ul>
<hr>
<br>
<hr>
<h1>Modals</h1>
<button class="button small" ng-click="index.openModal()">open default</button>
<button class="button small" ng-click="index.openModal('tiny')">open tiny</button>
<button class="button small" ng-click="index.openModal('small')">open small</button>
<button class="button small" ng-click="index.openModal('large')">open large</button>
<button class="button small" ng-click="index.openModal('full')">open full</button>
<hr>
<br>
<hr>
<h1>Accordions</h1>
<uib-accordion close-others="falsew">
    <div uib-accordion-group class="panel-default" heading="Static Header, initially expanded" is-open="true" is-disabled="true">
        This content is straight in the template.
    </div>
    <div uib-accordion-group class="panel-default" heading="Attribute Heading" ng-repeat="group in groups">
        {{group.content}}
    </div>
    <div uib-accordion-group class="panel-default" heading="Dynamic Body Content">
        <p>The body of the uib-accordion group grows to fit the contents</p>
        <button type="button" class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
        <div ng-repeat="item in items">{{item}}</div>
    </div>
    <div uib-accordion-group class="panel-default" is-open="status.open">
        <uib-accordion-heading>
            I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        This is just some content to illustrate fancy headings.
    </div>
</uib-accordion>
<hr>
<br>
<hr>
<h1>Alerts</h1>
<button class="button" ng-click="index.addAlert()">Add alert</button>
<div uib-alert
     ng-repeat="alert in index.alerts"
     class="callout"
     ng-class="alert.type"
     close="index.closeAlert($index)">
    {{alert.msg}} | {{alert.type}}
</div>
<hr>
<br>
<hr>
<h1>Buttons</h1>
<pre>
{{index.checkBoxModel | json}}
</pre>
<div class="button-group">
    <button type="button"
            class="button"
            ng-model="index.checkBoxModel.default"
            uib-btn-checkbox>
        default
    </button>
    <button type="button"
            class="button success"
            ng-model="index.checkBoxModel.success"
            uib-btn-checkbox>
        success
    </button>
    <button type="button"
            class="button warning"
            ng-model="index.checkBoxModel.warning"
            uib-btn-checkbox>
        warning
    </button>
    <button type="button"
            class="button alert"
            ng-model="index.checkBoxModel.alert"
            uib-btn-checkbox>
        alert
    </button>
    <button type="button"
            class="button secondary"
            ng-model="index.checkBoxModel.secondary"
            uib-btn-checkbox>
        secondary
    </button>

    <button type="button"
            class="button hollow"
            ng-model="index.checkBoxModel.defaultHollow"
            uib-btn-checkbox>
        default hollow
    </button>
    <button type="button"
            class="button success hollow"
            ng-model="index.checkBoxModel.successHollow"
            uib-btn-checkbox>
        success hollow
    </button>
    <button type="button"
            class="button warning hollow"
            ng-model="index.checkBoxModel.warningHollow"
            uib-btn-checkbox>
        warning hollow
    </button>
    <button type="button"
            class="button alert hollow"
            ng-model="index.checkBoxModel.alertHollow"
            uib-btn-checkbox>
        alert hollow
    </button>
    <button type="button"
            class="button secondary hollow"
            ng-model="index.checkBoxModel.secondaryHollow"
            uib-btn-checkbox>
        secondary hollow
    </button>
</div>
<hr>
<br>
<hr>
<h1>Collapse</h1>
<div>
    <button type="button"
            class="button"
            ng-click="index.isCollapsed = !index.isCollapsed">
        Toggle collapse Vertically
    </button>
    <div uib-collapse="index.isCollapsed">
        <div class="panel">Some content</div>
    </div>
</div>
<hr>
<br>
<hr>
<h1>Dropdown</h1>
<div uib-dropdown keyboard-nav>
    <button uib-dropdown-toggle
            class="button"
            type="button">
        Dropdown
    </button>
    <!--<div class="dropdown-pane" >-->
        <ul class="menu vertical" uib-dropdown-menu>
            <li><a href="#">Foo</a></li>
            <li><a href="#">Bar</a></li>
            <li><a href="#">Baz</a></li>
        </ul>
    <!--</div>-->
</div>
<div uib-dropdown keyboard-nav dropdown-append-to-body>
    <button uib-dropdown-toggle
            class="button"
            type="button">
        Dropdown append to body
    </button>
    <div class="dropdown-pane" uib-dropdown-menu>
        Just some junk that needs to be said. Or not. Your choice.
    </div>
</div>