.c-n-docs__topbar {
	display: flex;
	justify-content: space-between;

	font-weight: $global-weight-light;

	background-color: $black;

	.top-bar-title,
	.top-bar-right {
		float: none
	}

	.top-bar-title {
		flex: 0 0 auto;

		display: flex;
		align-items: center;
	}
	.top-bar-right {
		flex: 1;

		display: flex;
		justify-content: flex-end;
	}

	.menu {
		width: auto;
		background-color: $black;
		border: none;
	}
	[uib-dropdown-menu] {

	}
}