<div class="row">
    <div class="small-12 columns">
        <h3>Accordion</h3>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <button type="button" class="button small" ng-click="accordionCtrl.status.open = !accordionCtrl.status.open">Toggle last panel</button>
        <button type="button" class="button small" ng-click="accordionCtrl.status.isFirstDisabled = !accordionCtrl.status.isFirstDisabled">Enable / Disable first panel</button>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <label>
            <input type="checkbox" ng-model="accordionCtrl.oneAtATime">
            Open only one at a time
        </label>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <uib-accordion close-others="accordionCtrl.oneAtATime">
            <div uib-accordion-group class="panel-default" heading="Static Header, initially expanded" is-open="accordionCtrl.status.isFirstOpen" is-disabled="accordionCtrl.status.isFirstDisabled">
                This content is straight in the template.
            </div>
            <div uib-accordion-group class="panel-default" heading="{{group.title}}" ng-repeat="group in accordionCtrl.accordionGroups">
                {{group.content}}
            </div>
            <div uib-accordion-group class="panel-default" heading="Dynamic Body Content">
                <p>The body of the uib-accordion group grows to fit the contents</p>
                <button type="button" class="btn btn-default btn-sm" ng-click="accordionCtrl.addItem()">Add Item</button>
                <div ng-repeat="item in accordionCtrl.items">{{item}}</div>
            </div>
            <div uib-accordion-group class="panel-default" heading="Custom template" template-url="group-template.html">
                Hello
            </div>
            <div uib-accordion-group class="panel-default" is-open="accordionCtrl.status.isCustomHeaderOpen" template-url="group-template.html">
                <uib-accordion-heading>
                    Custom template with custom header template <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordionCtrl.status.isCustomHeaderOpen, 'glyphicon-chevron-right': !accordionCtrl.status.isCustomHeaderOpen}"></i>
                </uib-accordion-heading>
                World
            </div>
            <div uib-accordion-group heading="Delete account">
                <div class="callout alert">
                    <p>Please, to delete your account, click the button below</p>
                    <button class="button alert small">Delete</button>
                </div>
            </div>
            <div uib-accordion-group class="panel-default" is-open="accordionCtrl.status.open">
                <uib-accordion-heading>
                    I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordionCtrl.status.open, 'glyphicon-chevron-right': !accordionCtrl.status.open}"></i>
                </uib-accordion-heading>
                This is just some content to illustrate fancy headings.
            </div>
        </uib-accordion>
    </div>
</div>

<script type="text/ng-template" id="group-template.html">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href tabindex="0" class="accordion-toggle" style="color:#fa39c3" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                    <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
                      {{heading}}
                    </span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" style="text-align: right" ng-transclude></div>
        </div>
    </div>
</script>